@CHARSET "utf-8";

html
{
	width: 100%;
	margin: 0;
	padding: 0;
	line-height: 100%;
}

body {
	width: 100%;
	margin: 0;
	padding: 0;
	text-align:center;

	font-family: 'MS PGothic', helvetica, arial, verdana, sans-serif;
	font-size:100%;
}

a { color: #000077; text-decoration: none; }
a:visited { color: #000077; text-decoration: none; }
a:hover { color: #2244ff; text-decoration: underline; }
a:active { color: #2244ff; text-decoration: underline; }
a img { border: 0; }

img{
	margin:0;
	padding:0;
}

header, nav, section, article, footer {
	display:block;
	border:0;
	margin:0;
	padding:0;
}

.header_container{
	position: relative;
	width: 800px;
	margin:auto;
	text-align:left;
}

.container{
	position: relative;
	width: 800px;
	margin:auto;
	text-align:left;
}
.main{
	position: absolute;
	width: 800px;
	margin:0;
	text-align:center;
}

header#header{
	top: 0;
	left: 0;
	width: 100%;
	padding: 0;
	margin: 50px 0 40px;
	border: 0;
	text-align: center;
}

input#text{
	font-size:180%;
	padding: 7px;
	text-align: left;
}

span#msg{
	font-size: 120%;
	color: red;
}

p#msg{
	margin: 50px 0 50px;
}

footer#footer{
	clear: both;
	position: relative;
	width: 100%;
	margin-top: 100px;
	padding: 10px 0;
	font-size: 80%;
	text-align: center;
	color: gray;
}
#footer a { color: gray; text-decoration: none; }
#footer a:visited { color: gray; text-decoration: none; }
#footer a:hover { color: #2244ff; text-decoration: underline; }
#footer a:active { color: #2244ff; text-decoration: underline; }
